       :root {
           --mainclr: #180929;
           --scclr: rgba(121, 121, 121, 0.055);
           --spfontclr: #8E44AD;
           --fontclr1: #EDEDED;
           --fontclr2: gray;
           --glowclr: #D291BC;
           --liner: linear-gradient(to right, rgb(65, 11, 165) , var(--spfontclr));
       }
