@media only screen and (max-width: 1325px) {
    .about_lower_para {
        font-size: 2.5vh;
    }

    .about_btn_box {
        width: 90%;
    }

}

@media only screen and (max-width: 1000px) {

    .right {
        display: none;
    }

    .left {
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main_head {
        margin-left: 0%;
        text-align: center;
    }

    .main_para {
        width: 100%;
        margin-left: 0%;
        text-align: center;

    }

    .main_para1 {
        width: 100%;
        margin-left: 0%;
        text-align: center;

    }

    .main_btn {
        width: 50%;
        padding-left: 0%;
        margin: 0px auto;
        margin-top: 20px;
        justify-content: center;

    }

    .main_btn1 {
        width: 100%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }




    .about_left {
        width: 100%;
    }

    .about_right {
        display: none;
    }


    .about_btn_box {
        width: 100%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }

    .about_btn {
        padding: 14px 20px;
    }

}


@media only screen and (max-width: 760px) {

    .nav {
        justify-content: space-around;
    }

    .burger {
        display: flex;
    }

    .main_head {
        font-size: 10vh;

    }

    .main_head_white {
        font-size: 10vh;

    }

    .nav_ul {
        display: none;
    }






    .about_upper_text {
        font-size: 10vh;
    }


    .portfolio_upper_text {
        font-size: 9vh;


    }


}



@media only screen and (max-width: 450px) {
    .about_lower_para {
        font-size: 2vh;
    }


    .main_para1 {
        font-size: 2vh;
        /* border: 2px solid black; */
        width: 95%;
    }


}

@media only screen and (max-width: 380px) {
    .name {
        font-size: 25px;
    }

    .main_head,
    .main_head_white {
        font-size: 9vh;
    }

    .main_btn {
        width: 95%;
        /* border: 2px solid black; */
    }

    .btn {
        padding: 10px 6px;

    }


    .about_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_upper_para {
        font-size: 1.7vh;
        margin-left: 0%;
    }

    .about_lower_para {
        margin-left: 0%;

    }


    .about_upper_text {
        font-size: 9vh;
    }


}
